.header {
    background-color: bisque;
    margin-left: 15%;
    margin-right: 15%;
}
.contenido {
    width: 90%;
    height: 80px;
    padding-bottom: 10px;
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  .blinking {
    margin: 20px;
    animation: blink 1s linear infinite;
    text-align: center;
  }
  .bloque {
    padding: 5px;
  }
  .long {
    width: 50%;
  }
  .center {
    display: flex;
    justify-content:  center;
    

  }
  .img-responsive {
    max-width: 100%;
  }
.boton {
    padding: 10px;
    font-size: 1.4rem;
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 10px;

}